/* estilos generales */

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Indie Flower', cursive;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;

}
.lista{
    list-style:none;
    border-right: solid 0.5px;
    padding: 15px;
    width: 100%;
    text-align: center;


}
nav ul{
    height: 54px;
    margin-top: 0px;

}
#nav{
    background-color: #db7878 ;

}

li:hover{
    background-color:#E8048A ;

}

.nav_dos {
    background-color: #302D2D;
    display: none;
}

#barra {
    padding: 30px;
}

.nav_dos i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.nav_dos i:hover {
    color: pink;
}

.cajas_menu {
    border-bottom: 1px solid;
}

.invisible {
    display: none;
}

.contenedor{    
    width: 100%;
}

.texto{

    color: white;
    font-weight: bold;
    padding-left: 30px;
    height: 26px;
    margin-top: 12px;
    cursor: pointer;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

.texto:hover{
    text-decoration: underline;
    color: pink;
}

